
.cards {
  margin-top: 51px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  max-height: 361px;
  overflow: hidden;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__image {
  max-width: 282px;
  min-height: 282px;
  object-fit: cover;
}

.card__description {
  background-color: #fff;
  color: #000;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  size: 24px;
  line-height: 29.05px;
}

.card__like-button {
  background: transparent url(../images/Vector.svg);
  width: 21px;
  height: 18px;
  align-items: center;
  justify-content: space-between;
  border: none;
}

.card__like-button:hover {
  background-image: url(/images/LikeButtonHover.svg);
}
  
  .card__like-button {
    background: transparent url(../images/Vector.svg);
    width: 21px;
    height: 18px;
    align-items: center;
    justify-content: space-between;
    border: none;
  }
  
  .card__like-button:hover {
    background-image: url(/images/LikeButtonHover.svg);
  }